<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="./tests/bootstrap.php"
         failOnWarning="true"
         failOnDeprecation="true"
>
    <testsuites>
        <testsuite name="domain"><directory>tests/Domain</directory></testsuite>
        <testsuite name="application"><directory>tests/Application</directory></testsuite>
        <testsuite name="infrastructure"><directory>tests/Infrastructure</directory></testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
